@import "../../Assets/scss/common.scss";

.leaving-cal-section {
  padding-top: $section-padding;
  margin: auto;
  min-height: 600px;
  .video {
    padding-bottom: 56.25%;
  }
  @media (max-width: 768px) {
    padding-top: $section-padding-768;
    grid-template-columns: 1fr;
    min-height: unset;
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
      font-weight: normal;
    }
  }
  @media (max-width: 480px) {
    padding-top: $section-padding-480;
    grid-template-columns: 1fr;
    p {
      font-size: 12px;
      font-weight: normal;
    }
  }
}
