.form-wrap {
  width: 100%;
  position: relative;
  margin-top: 60px;
  .form-img {
    width: 100%;
    .form-bg {
      object-fit: cover;
      width: 100%;
      min-height: 800px;
      background: rgba(44, 6, 62, 0.45);
    }
    .layer {
      position: absolute;
      top: 0;
      height: 99.5%;
      width: 100%;
      background: rgba(44, 6, 62, 0.45);
    }
  }
  .form-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    .form-holder {
      margin: auto;
      max-width: 400px;
      padding: 20px 50px;
      background-color: #9781a0;
      > p {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 53px;
        text-align: center;
        margin: 0;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      margin: auto;
      max-width: 400px;
      padding: 20px 50px;
      background-color: #ffffff;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
      .form-title {
        color: #9781a1;
        font-size: 18px;
        text-align: center;
      }
      input[type="text"],
      input[type="email"] {
        color: #8e8989;
        font-size: 14px;
        padding: 16px 20px;
        margin: 10px 0;
        display: inline-block;
        border: 2px solid #e5e5e5;
        border-radius: 4px;
        box-sizing: border-box;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #8e8989;
        }

        @media (max-width: 480px) {
          font-size: 11px;
        }
      }
      .have-home-wrap {
        .have-home-title {
          padding-left: 10px;
          font-size: 14px;
          color: #8e8989;
        }
        .radio-buttons-inline {
          display: flex;
          .radio-text {
            font-size: 14px;
            color: #8e8989;
          }
          .radio-button-wrap {
            &:first-child {
              padding-right: 203px;
              @media (max-width: 480px) {
                padding-right: 64px;
              }
            }
            input[type="radio"] {
              cursor: pointer;
            }
          }
        }
      }
      .when-to-move-wrap {
        .when-to-move-title {
          padding-left: 10px;
          font-size: 14px;
          color: #8e8989;
          margin-top: 2rem;
        }
        .radio-buttons-inline {
          display: flex;
          .radio-text {
            font-size: 14px;
            color: #8e8989;
          }
          .radio-button-wrap {
            padding-top: 10px;
            &:first-child {
              padding-right: 160px;
              @media (max-width: 480px) {
                padding-right: 20px;
              }
            }
            input[type="radio"] {
              cursor: pointer;
            }
          }
        }
      }
      .form-submit-btn-wrap {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        .form-submit-btn {
          display: flex;
          background: #9781a1;
          text-transform: uppercase;
          border-radius: 5px;
          border: none;
          color: white;
          padding: 12px 40px;
          text-align: center;
          text-decoration: none;
          font-size: 14px;
          margin: 4px 2px;
          cursor: pointer;
          &:hover {
            background: rgb(137, 115, 147);
          }
          > div {
            margin-left: 10px;
          }
          &.submitting{
            background: rgb(137, 115, 147);
          }
        }
      }
      @media (max-width: 1024px) {
        // padding: 20px 50px;
        > h3 {
          margin-top: 0;
          margin-bottom: 5px;
        }
        input[type="text"],
        input[type="email"] {
          padding: 10px 14px;
        }
      }
    }
  }
}
