.form-wrap {
  width: 100%;
  position: relative;
  margin-top: 60px;
  .form-img {
    width: 100%;
    .form-bg {
      object-fit: cover;
      width: 100%;
      min-height: 800px;
      background: rgba(44, 6, 62, 0.45);
    }
    .layer {
      position: absolute;
      top: 0;
      height: 99.5%;
      width: 100%;
      background: rgba(44, 6, 62, 0.45);
    }
  }
  .form-content {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background: #fff;

    @media (max-width:1024px) {
      width: 60%;
    }

    @media (max-width:425px) {
      width: 100%;
    }

   
    h2 {
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #9781a1;
      margin-bottom: 20px;
      margin-top: 25px;
    }

    table {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    input {
      border: 1px solid #e5e5e5;
      font-size: 16px;
      line-height: 28px;
      width: 350px;
      height: 43px;
      padding: 0 15px;
      border-radius: 3px;
      color: #8e8989;
      margin-bottom: 5px;

      
    @media (max-width:425px) {
      width: 245px;
      font-size: 11px;
    }
    }
    .form-holder {
      margin: auto;
      max-width: 400px;
      padding: 20px 50px;
      background-color: #9781a0;
      > p {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 53px;
        text-align: center;
        margin: 0;
      }
    }

    .submit-button {
      width: 150px;
      margin: auto;
      background: #9781a1;
      color: #fff;
      text-transform: uppercase;
      margin-top: 20px;
    }

    .radio-button-text {
      font-size: 16px;
      line-height: 28px;
      width: 350px;
      color: #8e8989;
      margin: 15px 0;

      
    @media (max-width:425px) {
      width: 270px;
    }
    }

    .radio-button {
      width: 388px;
      color: #8e8989;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;

      
    @media (max-width:425px) {
      width: 270px;
    }

      input {
        width: unset;
        height: unset;
      }

      .submit-wrapper {
        td {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .code {
      justify-content: left;
      color: #8e8989;
      font-size: 14px;
      input {
        margin-left: 5px;
      }
    }

    .text{
      @media (max-width:425px) {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
