@import "../../Assets/scss/common.scss";

.raymond-section {
  padding-top: $section-padding;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $grid-gap;
  font-size: 16px;
  color: $black;
  h2{
    font-size: 24px;
  }
  .family-img {
    align-self: center;
  
    @media (max-width:768px) {
      justify-self: center;
    }
  }
 
  @media (max-width: 768px) {
    padding-top: $section-padding-768;
    grid-template-columns: 1fr;
    grid-gap: $grid-gap-768;
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
      font-weight: normal;
    }
  }
  @media (max-width: 480px) {
    padding-top: $section-padding-480;
    grid-template-columns: 1fr;
    grid-gap: $grid-gap-480;
    p {
      font-size: 12px;
      font-weight: normal;
    }
  }
}
