.App-header {
  height: 50px;
  background: linear-gradient(270deg, #f47826 0%, rgba(147, 100, 114, 0.82675) 50.69%, rgba(121, 94, 135, 0.78) 100%);
  display: flex;
  align-items: center;
  @media(max-width: 768px) {
    height: 44px;
  }
  @media(max-width: 480px) {
    height: 36px;
  }
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  .social {
    display: flex;
    .social-icon-text {
      > a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
        color: #ffffff;
        svg {
          height: 26px;
          width: 26px;
        }
        > span {
          padding-left: 12px;
        }
      }
      padding-right: 20px;
      @media(max-width: 768px){
        > a {
          font-size: 12px;
          svg {
            height: 20px;
            width: 20px;
          }
          > span {
            padding-left: 8px;
          }
        }
      }
      @media(max-width: 480px){
        > a {
          font-size: 10px;
          svg {
            height: 18px;
            width: 18px;
          }
          > span {
            padding-left: 6px;
          }
        }
      }
    }
  }
  .legal-images{
    display: flex;
    .exp-img{
      padding-right: 20px;
      height: 30px;
      width: 79px;
    }
    .equal-img{
      height: 30px;
      width: 31px;
    }
    @media(max-width: 768px){
      .exp-img{
        padding-right: 10px;
        height: 30px;
        width: 79px;
      }
      .equal-img{
        height: 30px;
        width: 31px;
      }
    }
    @media(max-width: 480px){
      .exp-img{
        padding-right: 10px;
        height: 25px;
        width: 66px;
      }
      .equal-img{
        height: 25px;
        width: 26px;
      }
    }
  }
}
.website-logo-wrap {
  display: flex;
  margin: auto;
  .logo {
    font-weight: bold;
    font-size: 22px;
    color: #9781a1;
    padding-top: 24px;
    padding-bottom: 24px;
    @media(max-width: 480px){
      font-size: 18px;
      color: #9781a1;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}
