.intro-wrap {
  width: 100%;
  position: relative;
  .intro-img {
    width: 100%;
    .intro-bg {
      object-fit: contain;
      width: 100%;
      height: auto;
      background: rgba(121, 94, 135, 0.16);
    }
    .layer {
      position: absolute;
      top: 0;
      height: 99.5%;
      width: 100%;
      background: rgba(121, 94, 135, 0.16);
    }
  }
  .intro-content {
    position: absolute;
    width: 60%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #ffffff;
    .heading {
      font-size: 36px;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
    }
    @media (max-width: 1024px) {
      .heading {
        font-size: 28px;
        font-weight: 900;
      }
    }
    @media (max-width: 768px) {
      .heading {
        font-size: 24px;
        font-weight: 900;
      }
    }
    @media (max-width: 480px) {
      .heading {
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}
