@import '../../Assets/scss/common.scss';

.footer {
  background: #9781a0;
  margin-top: $section-padding;
  .footer-content {
    margin: auto;
    .footer-grid {
      padding: 70px 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      .footer-item {
          display: flex;
          align-items: center;
          color: #ffffff;
          > span {
              padding-right: 10px;
          }
          > a, p {
              text-decoration: none;
              color: #ffffff;
              @media (max-width: 768px) {
                font-size: 14px;
              }
              @media (max-width: 480px) {
                font-size: 12px;
              }
          }
      }
      @media(max-width: 480px) {
        grid-template-columns: 1fr;
      }
    }
  }
  @media(max-width: 768px){
    margin-top: $section-padding-768;
  }
  @media(max-width: 480px){
    margin-top: $section-padding-480;
  }
}
