.footer {
  background: #9781a0;
  margin-top: 200px;
  .footer-content {
    margin: auto;
    .footer-grid {
      padding: 70px 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      .footer-item {
          display: flex;
          align-items: center;
          color: #ffffff;
          > span {
              padding-right: 10px;
          }
          > a {
              text-decoration: none;
              color: #ffffff;
          }
      }
      @media(max-width: 480px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
